
#contact {
    position: relative;
    background-size: cover;
    background-position: center;
}

#contact::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 1;
}

#contact>* {
    position: relative;
    z-index: 2;
}

#cotactform{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.3px);
-webkit-backdrop-filter: blur(4.3px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

#titletxt{
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    text-decoration: overline;
    text-decoration-color: yellow;
}

#paratxtt{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgb(233, 233, 233);
}
#contacttitle{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}